body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
}

main {
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
}

.tree {
    list-style-type: none;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}